aiofiles==25.1.0
aiogram==3.28.2
aiohappyeyeballs==2.6.2
aiohttp==3.13.5
aiosignal==1.4.0
annotated-types==0.7.0
attrs==26.1.0
certifi==2026.5.20
dotenv==0.9.9
frozenlist==1.8.0
idna==3.16
magic-filter==1.0.12
multidict==6.7.1
propcache==0.5.2
psycopg==3.3.4
psycopg-binary==3.3.4
psycopg-pool==3.3.1
pydantic==2.13.4
pydantic-core==2.46.4
python-dotenv==1.2.2
redis==7.4.0
typing-extensions==4.15.0
typing-inspection==0.4.2
yarl==1.24.2
